# Basics

In [66]:
x = 10; y = 5; x+y; #can be written in single line with semicolon

In [168]:
x, y, z = 1, 3, 7
print(x)
print(y) # multiple assignment
print(z)
print(x,y,z) # multiple prints

1
3
7
1 3 7

In [163]:
x=y=z=5
print(x,y,z)

5 5 5

In [164]:
x,y,z = 1 # Error

TypeError: cannot unpack non-iterable int object

In [72]:
x
y # only displays last value

5

In [73]:
x

10

In [68]:
print(x)
print(y)

10
5

In [75]:
x # returns last evaluated number
7

7

# Variables

In [2]:
a = 2 # This is a Comment

In [3]:
print(a)

2

In [4]:
b = 50
print(b)

50

 Case Sensitive

In [5]:
MAN = 10
Man = 100
man = 1000

In [6]:
man

1000

In [7]:
man
Man
MAN

10

Rules

In [10]:
_Man = 10  # Can start with _
_Man

10

In [11]:
1Man = 10 # Cannot start with number

SyntaxError: invalid syntax (<ipython-input-11-0a74b4ab74e7>, line 1)

In [13]:
Man$12 = 10 # Should only be alphanumeric

SyntaxError: invalid syntax (<ipython-input-13-ddcc804c62ef>, line 1)

In [14]:
Man12 = 10

In [16]:
Man 1 2 = 10 # Cannot have space

SyntaxError: invalid syntax (<ipython-input-16-c8b9688216fc>, line 1)

In [17]:
Man_1 = 10 # _ is fine in naming
_Man = 10
Man_ = 10

In [18]:
man = 1+5

In [19]:
man

6

# Operators

* Airthmetic
* Comparision
* Logical
* Assignment
* Bitwise

## Airthmetic

+, -, /, *, %(Modulus), ** (Exponential), // (Floor)

In [22]:
a = 5
b = 10
c = 18

In [23]:
a+b

15

In [24]:
a-b

-5

In [25]:
a/b

0.5

In [26]:
b/a

2.0

In [27]:
c/a

3.6

In [28]:
a*b

50

In [29]:
c/a

3.6

In [30]:
a = 5
b = 10
c = 18
d = 21

In [31]:
a//5

1

In [32]:
c//a # Floor Division

3

In [33]:
c/a

3.6

In [34]:
d/a

4.2

In [35]:
d//a # Floor Division

4

Ceiling  = Floor + 1

In [36]:
7%4 # Modulus = Reminder

3

In [37]:
2**4

16

In [38]:
3**2 # Exponential 3^2

9

## Logical Operators

and or not, perform check on multiple conditions

In [39]:
x = 2

In [40]:
x > 5 and x < 5

False

In [41]:
x < 5 and x < 10

True

In [76]:
x > 5 or x < 5

True

In [77]:
not(x>5 or x < 5) # Compliment

False

In [44]:
5 and 10 # Returns last operated value

10

In [43]:
5 and 0

0

In [57]:
x and y

20

In [58]:
10 and 20

20

In [59]:
10 or 20 # Returns last operated value , here for or to be true

10

In [61]:
5 and 10 # It evauluates 5, it is true, then it evaluates 10, it is also true, then it returns last evaluated value ie 10

10

In [63]:
5 or 10 # It evaluates 5, it is true, then it returnes last evaluated value ie 5

5

In [64]:
0 and 10 # returns last evaluated number

0

In [65]:
0 or 10 # returns last evaluated number

10

## Comparision Operators

==, !=, >, <, >=, <=

In [45]:
x = 10; y = 20;

In [46]:
x

10

In [47]:
print(x)

10

In [48]:
x == y

False

In [49]:
x != y

True

In [50]:
x < y

True

In [51]:
x > y

False

In [52]:
a = 5; b = 5;

In [53]:
a == b

True

In [54]:
a = 2; b = 5; a = b; print(a) # Assignment Operator

5

## Assignment Operator

=, +=, -=, /=, *=, %=, //=, **=, &=, |=, ^=, >>=, <<=

In [78]:
x = 5;

In [79]:
x = 5

In [84]:
x = 5
x += 5 # x = x + 5
x

10

In [90]:
x = 5
x -= 15 # x = x - 15
x

-10

In [91]:
x = 5
x *= 15 # x = x * 15
x

75

In [92]:
x = 5
x /= 15 # x = x / 15
x

0.3333333333333333

In [97]:
x = 5
x %= 3 # x = x % 3
x

2

In [98]:
x = 2
x **= 3 # x = x ** 3
x

8

In [99]:
x = 5
x //= 15 # x = x // 15
x

0

## Bitwise Assignment Operation

In [104]:
x = 5
x &= 3 # x = x & 3;  (101 & 011 = 001) Bitwise AND
x

1

In [105]:
x = 5
x |= 3 # x = x | 3;  (101 | 011 = 111) Bitwise OR
x

7

In [106]:
x = 5
x ^= 3 # x = x ^ 3;  (101 ^ 011 = 110) Bitwise XOR
x

6

In [111]:
x =5
x <<= 2 # x = x << 2; it shifts the value LEFT by 2 bits ie 101 left by 2 bits = 10100 = 20
x

20

In [115]:
x =5
x >>= 1 # x = x >> 2; it shifts the value LRIGHT by 2 bits ie 101 left by 2 bits = 001= 20
x

2

# Escape Character

In [117]:
print("This is Python. Hello World")

This is Python. Hello World

In [118]:
print("This is Python.\n Hello World") # \n used to change line

This is Python.
 Hello World

In [119]:
print("This is Python.\t Hello World") # \t used for tab space

This is Python.	 Hello World

In [124]:
x = "this is \n new line" 
x

'this is \n new line'

In [125]:
print(x)

this is
 new line

In [132]:
x = "This is Priya's Book"
x

"This is Priya's Book"

In [138]:
x = "He said: "I am Fine""
x

SyntaxError: invalid syntax (<ipython-input-138-07a213a55255>, line 1)

In [137]:
x = "He said: \"I am Fine\"" # \ can be used to insert multiple ""
x

'He said: "I am Fine"'

## Format Specifier

In [152]:
name = "Krish"
print("Hi I am %s" %name)
print("Hi I am", name)

Hi I am Krish
Hi I am Krish

In [161]:
name = "Krish"
age = 25
print("Hi my name is %s. I am %d years old" %(name, age))
print("Hi my name is",name,". I am",age, "years old")

Hi my name is Krish. I am 25 years old
Hi my name is Krish . I am 25 years old

In [151]:
name = "Krish"
age1 = 25
age2 = 2
print("Hi my name is %s. I am %d years old or may be %d" %(name, age2, age1))

Hi my name is Krish. I am 2 years old or may be 25