# Data Types

## String

In [5]:
string = "Hello World"
print(string)

Hello World

In [2]:
string

'Hello World'

In [15]:
type(string)  # Gives type of data stored in variable

str

In [14]:
print(type(string))

<class 'str'>

In [19]:
string = """This is a good time
for all men to
get up and work"""
print(string) # Multiple line String

This is a good time
for all men to
get up and work

In [17]:
string # This prints string as it is . \n

'This is a good time\nfor all men to\nget up and work'

In [18]:
print(string) # This prints string after processing it. \n

This is a good time
for all men to
get up and work

In [23]:
a = "Hello" # Concatanation of two strings
b = "World"
a+b

'HelloWorld'

In [22]:
print(a+b)

HelloWorld

In [39]:
a = 15
b = "Hello"
print(a+b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [41]:
a = "15"
b = " Hello"
print(a+b)

15 Hello

In [25]:
a = "world" # For loop in string, runs loop number of times as characters in string
for i in a:
    print(i)

w
o
r
l
d

In [30]:
string = "Goood Morning, Nice weather today!" # Gives length of a string
string

'Goood Morning, Nice weather today!'

In [28]:
len(string)

34

In [29]:
print(len(string))

34

In [31]:
string

'Goood Morning, Nice weather today!'

In [32]:
"ice" in string # in is used to check for particular substring in a big string

True

In [33]:
"ice we" in string

True

In [35]:
"icewe" in string

False

In [36]:
a = "Double Quotes" # Works same ways for both '' or ""
b = 'Single Quotes'
print(a)
print(b)

Double Quotes
Single Quotes

In [37]:
a

'Double Quotes'

In [38]:
b

'Single Quotes'

# LIST

Most used, mutable, ordered, duplicates, square brackets, multiple data possible.

[] used to access an index. () used to access functions

In [58]:
lst1 = ["Hello", "World", 4.0, 2, 3.6, "Banana", True, False, 4, 2, "World"] # multiple and duplicate data type
lst2 = [1, 2, 3, 4, 5, 6]
lst3 = list(("hello", "world", 32, 4, True)) # Defining using LIST function/method
print("First List is ", lst1) # Printing along with string
print(lst1)
print(lst2)
print(lst3)

First List is  ['Hello', 'World', 4.0, 2, 3.6, 'Banana', True, False, 4, 2, 'World']
['Hello', 'World', 4.0, 2, 3.6, 'Banana', True, False, 4, 2, 'World']
[1, 2, 3, 4, 5, 6]
['hello', 'world', 32, 4, True]

In [54]:
print(type(lst1)) 
print(type(lst3))# Type of list variable

<class 'list'>
<class 'list'>

In [55]:
a = ["Python", "Language", 1, 2.0, 3, True]
b = ["python", "Language", 1, 2.0, 3, True]
c = ["Python", "Language", 1, 2, 3, True]

In [56]:
a == b # Comaprision operator, case sensitive

False

In [57]:
a == c # 2.0 and 2 are taken as same

True

In [59]:
4.0 == 4

True

### Slicing and Indexing

In [106]:
lst1 = ["P","Y","T","H","O","N",1, 2, True, 3.2]

Positive Index

In [85]:
print(lst1[0]) # prints first index
print(lst1[0:]) # prints whole list
print(lst1[0:3]) # prints from index 0 to 2. Note: index 3 is not included

P
['P', 'Y', 'T', 'H', 'O', 'N', 1, 2, True, 3.2]
['P', 'Y', 'T']

Negative Index

In [94]:
# Negative index starts with -1

print(lst1[-1]) # Prints last element without knowing the length
print(lst1[-6:]) # Prints from index specified to the end
print(lst1[-8:-1]) # Prints from zero -8 index to -2. Note: -1 not included

3.2
['O', 'N', 1, 2, True, 3.2]
['T', 'H', 'O', 'N', 1, 2, True]

In [96]:
len(lst1) # Length of list

10

### Modifying List

In [108]:
print(lst1)

['P', 'Y', 'T', 'H', 'O', 'N', 1, 2, True, 3.2]

In [109]:
lst1.append("NewItem") # Adding new item at end, everything is added to the end
lst1

['P', 'Y', 'T', 'H', 'O', 'N', 1, 2, True, 3.2, 'NewItem']

In [117]:
lst1 = ['P', 'Y', 'T', 'H', 'O', 'N', 1, 2, True, 3.2, 'NewItem']
print(lst1)
lst1[8] = "TruetoFalse" # Modifying any element
print(lst1)

['P', 'Y', 'T', 'H', 'O', 'N', 1, 2, True, 3.2, 'NewItem']
['P', 'Y', 'T', 'H', 'O', 'N', 1, 2, 'TruetoFalse', 3.2, 'NewItem']

In [120]:
lst1 = ['P', 'Y', 'T', 'H', 'O', 'N', 1, 2, 'TruetoFalse', 3.2, 'NewItem']
print(lst1)
lst1.remove("NewItem") # Removing item by its value, In case of duplicate elements, it removes only the first
print(lst1)

['P', 'Y', 'T', 'H', 'O', 'N', 1, 2, 'TruetoFalse', 3.2, 'NewItem']
['P', 'Y', 'T', 'H', 'O', 'N', 1, 2, 'TruetoFalse', 3.2]

In [127]:
lst1 = ['P', 'Y', 'T', 'H', 'O', 'N', 1, 2, 'TruetoFalse', 3.2]
print(lst1)
lst1.pop(8) # Removing item by its positive index
print(lst1)
lst1.pop(-2) # Removing item by its negative index
print(lst1)
lst1.pop() # Removes last element as no index specified
print(lst1)

['P', 'Y', 'T', 'H', 'O', 'N', 1, 2, 'TruetoFalse', 3.2]
['P', 'Y', 'T', 'H', 'O', 'N', 1, 2, 3.2]
['P', 'Y', 'T', 'H', 'O', 'N', 1, 3.2]
['P', 'Y', 'T', 'H', 'O', 'N', 1]

In [23]:
lst1 = ['P', 'Y', 'T', 'H', 'O', 'N', 1, 2, 'TruetoFalse', 3.2]
del lst1[1:5] # Deleting Multiple Vlaue using DEL and index
print(lst1)

['P', 'N', 1, 2, 'TruetoFalse', 3.2]

### Some Basic operations and Loops in LIST

In [129]:
lst1 = ['P', 'Y', 'T', 'H', 'O', 'N', 1, 2, 'TruetoFalse', 3.2]
for i in lst1: # Printing all elements in list
    print(i) # Note it access the elements directly not via index

P
Y
T
H
O
N
1
2
TruetoFalse
3.2

In [130]:
print(lst1*2) # Copying elements into the list

['P', 'Y', 'T', 'H', 'O', 'N', 1, 2, 'TruetoFalse', 3.2, 'P', 'Y', 'T', 'H', 'O', 'N', 1, 2, 'TruetoFalse', 3.2]

In [134]:
print(lst1)
lst2 = ["Mango","Banana","Apple","Pineapple", "Kiwi"]
print(lst2)
lst3 = lst1 + lst2 # Adding/Concating two lists
print(lst3)

['P', 'Y', 'T', 'H', 'O', 'N', 1, 2, 'TruetoFalse', 3.2]
['Mango', 'Banana', 'Apple', 'Pineapple', 'Kiwi']
['P', 'Y', 'T', 'H', 'O', 'N', 1, 2, 'TruetoFalse', 3.2, 'Mango', 'Banana', 'Apple', 'Pineapple', 'Kiwi']

In [137]:
"Mango" in lst3 # Checking an item in list

True

In [3]:
lst4 = [12, 17, 5, 18, 54, 0, 5.0, 5.224, 9]
print(lst4)
print(max(lst4)) # maximum value in list
print(min(lst4)) # minimum value in list

[12, 17, 5, 18, 54, 0, 5.0, 5.224, 9]
54
0

In [7]:
list1 = ["Banana","Kiwi","Guava","Apple","Orange","World","Hello","Pika",] #Maximim and Minimum value in string list
print(list1)
print(max(list1))# It Gives answer according to its position in a dictionary.
print(min(list1))

['Banana', 'Kiwi', 'Guava', 'Apple', 'Orange', 'World', 'Hello', 'Pika']
World
Apple

In [5]:
lst4 = [12, 17, 5, 18, 54, 0, 5.0, 5.224, 9]
lst4[-1452:]  # Note one more way to print list

[12, 17, 5, 18, 54, 0, 5.0, 5.224, 9]

In [13]:
lst4 = [12, 17, 5, 18, 54, 0, 5.0, 5.224, 9]
lst4[0:11150]

[12, 17, 5, 18, 54, 0, 5.0, 5.224, 9]

In [14]:
lst4[0::2]# Print every second number starting from index zero

[12, 5, 54, 5.0, 9]

In [16]:
lst4[-9::3] # Same as above with negative index

[12, 18, 5.0]

In [21]:
list3 = ['L', 7, 'E', 6, 'H', 4]
list3[0:2] = ["a","b"] # Replacing Multiple Items at Once
print(list3)

['a', 'b', 'E', 6, 'H', 4]

### iMPORTANT

In [20]:
lst4[-1::-1] # Important Printing all the list in reverse order without knowing length

[9, 5.224, 5.0, 0, 54, 18, 5, 17, 12]

## Taking input from user and making a list and Adding them

In [162]:
List = [] # Defining empty list
n = int(input("Enter the length of the List Integer : ")) # Taking input from user and converting it to Integer
for i in range(n):
    x = int(input("Enter the integer Item : "))
    List.append(x) # Appending every items in the list
print("You Entered : ", List)

add = 0;
for i in List: ## Prigram for adding all the elements of the list
    add = add+i
print("The sum of all elements is : ", add)

Enter the length of the List Integer : 5
Enter the integer Item : 1
Enter the integer Item : 4
Enter the integer Item : 8
Enter the integer Item : 9
Enter the integer Item : 5
You Entered :  [1, 4, 8, 9, 5]
The sum of all elements is :  27

# Tuple

Everything same as list but Immutable and defined by ()

In [165]:
tup = () # Defining empty tuple
type(tup)

tuple

In [167]:
tup1 = ('Cooler') # Tuple with single element is taken as string
print(tup1)
print(type(tup1))

tup2 = ("Cooler",) # Defing tuple with single element
print(tup2)
print(type(tup2))

Cooler
<class 'str'>
('Cooler',)
<class 'tuple'>

In [175]:
# 3 Ways of defining Tuple
t1 = (1,2,5,8,15)
print(t1)
print(type(t1))
t2 = ("Cooler","Fan", "Box", "Table")
print(t2)
print(type(t2))
t3 = 1,2,3,"hello",5
print(t3)
print(type(t3))

(1, 2, 5, 8, 15)
<class 'tuple'>
('Cooler', 'Fan', 'Box', 'Table')
<class 'tuple'>
(1, 2, 3, 'hello', 5)
<class 'tuple'>

In [181]:
t3[3] = "yellow" # Immutable

TypeError: 'tuple' object does not support item assignment

In [190]:
#Modifying tuple by comverting it into list
tup = (1, 7, "Hello", 6.5)
print(type(tup))
tup_list = list(tup) # Converting to list
print(type(tup_list))
tup_list.append("NewItem") # Appending new item
print(tup_list)
tup_new = tuple(tup_list) # Converting back to tuple after modifying
print(type(tup_new))
print(tup_new)

<class 'tuple'>
<class 'list'>
[1, 7, 'Hello', 6.5, 'NewItem']
<class 'tuple'>
(1, 7, 'Hello', 6.5, 'NewItem')

### Adding and Nested Tuple

In [196]:
print(t1)
print(t2)
print(t3)

(1, 2, 5, 8, 15)
('Cooler', 'Fan', 'Box', 'Table')
(1, 2, 3, 'hello', 5)

In [200]:
t4 = t1 + t2 # adding two tuples
print(t4)

(1, 2, 5, 8, 15, 'Cooler', 'Fan', 'Box', 'Table')

In [204]:
t5 = (t1,t2,t3) # Nested Tuple 
print(t5)
type(t5)

((1, 2, 5, 8, 15), ('Cooler', 'Fan', 'Box', 'Table'), (1, 2, 3, 'hello', 5))

tuple

# SET Data Type

Unordered, Mutable, No Duplicate, No Index attached thus cannot directly be accessed

In [32]:
set1 = {1,"hello", 2.5} # Multiple Element
print(type(set1))
print(set1) # Unordered
set2 = {7} # Single Element
print(type(set2))
print(set2)

<class 'set'>
{1, 2.5, 'hello'}
<class 'set'>
{7}

In [26]:
set3 = set(("Banana","Apple","Mango"))
print(set3)

{'Mango', 'Banana', 'Apple'}

In [29]:
set3.add("Kiwi") # Adding Members to the SET
set3

{'Apple', 'Banana', 'Kiwi', 'Mango'}

In [31]:
set3 = {'Apple', 'Banana', 'Kiwi', 'Mango'}
set3.add(4)
set3.add(3.2)
set3.add("Hello") # Adding various datatypes in set
set3.add((54,69))
print(set3)

{'Kiwi', 4, 3.2, 'Banana', 'Hello', (54, 69), 'Mango', 'Apple'}

In [44]:
#Removing Items from SET
set3 = {(54, 69), 3.2, 4, 'Apple', 'Banana', 'Hello', 'Kiwi', 'Mango'}
set3.discard("Kiwi")
set3.discard("HelloWorld") # doesnot show error even if the element is not present
set3.remove("Mango")
set3.remove("HelloWorld") # This will show error as element is not present

KeyError: 'HelloWorld'

In [47]:
set3.clear() # Clears full set
set3

set()

In [227]:
set4 = set1 + set3 # No Addition Possible

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [48]:
# Adding two sets
set1 = {1,"hello", 2.5}
print(set1)
set2 = {7}
print(set2)
set2.update(set1) # Adding two sets
print(set2)

{1, 2.5, 'hello'}
{7}
{1, 2.5, 'hello', 7}

In [50]:
# Union of two sets
set1 = {1,"hello", 2.5}
print(set1)
set2 = {7}
print(set2)
set3 = set1.union(set2) # Adding two sets
print(set3)

{1, 2.5, 'hello'}
{7}
{1, 2.5, 'hello', 7}

In [51]:
# Intersection of two sets
set1 = {1,"hello", 2.5}
print(set1)
set2 = {7, "hello"}
print(set2)
set3 = set1.intersection(set2) # Intersection of two sets
print(set3)

{1, 2.5, 'hello'}
{'hello', 7}
{'hello'}

In [55]:
# Difference of two sets
set1 = {1,"hello", 2.5}
print(set1)
set2 = {7,"hello"}
print(set2)
set3 = set1.difference(set2) # difference of two sets
print(set3)

{1, 2.5, 'hello'}
{'hello', 7}
{1, 2.5}

In [54]:
set4 = {"Hello", "World", "Fine", "Morning", "Hello"}
print(set4) # Duplicate values are eliminated automatically

{'Morning', 'Fine', 'Hello', 'World'}

In [234]:
# Looping through SET
days = {"Sun","Mon","Tues","Wed","Thrus","Fri","Sat"}
print(days)
print(type(days))
for i in days: # Iterating Through SET
    print(i)

{'Sun', 'Sat', 'Fri', 'Thrus', 'Tues', 'Mon', 'Wed'}
<class 'set'>
Sun
Sat
Fri
Thrus
Tues
Mon
Wed

# Dictionary data type

Ordered, Mutable, No Duplicates, {}
* Can have int/float/string/tuple (immutable data type) as Key
* Can have anything as Value
* New elements are always added at end

In [248]:
dict1 = {1:"Mango", 2:"Banana", 5:"Apple", 6:"Kiwi"}
dict1

{1: 'Mango', 2: 'Banana', 5: 'Apple', 6: 'Kiwi'}

In [251]:
dict2 = {1:"Mango", 2:"Banana", 5:"Apple", 6:"Kiwi", 6:"Brinjle", 7:"Apple"} # No duplicate keys taken
dict2

{1: 'Mango', 2: 'Banana', 5: 'Apple', 6: 'Brinjle', 7: 'Apple'}

In [253]:
dict2[5] # Here 5 is key not index

'Apple'

In [252]:
dict3 = {"1":"Mango", "2":"Banana", "5":"Apple", "6":"Kiwi", "6":"Brinjle", "7":"Apple"} # No duplicate keys taken
dict3

{'1': 'Mango', '2': 'Banana', '5': 'Apple', '6': 'Brinjle', '7': 'Apple'}

In [254]:
dict3[5] # can only be accessed through key not index

KeyError: 5

In [258]:
print(dict1)
print(dict2)
print(dict3)

{1: 'Mango', 2: 'Banana', 5: 'Apple', 6: 'Kiwi'}
{1: 'Mango', 2: 'Banana', 5: 'Apple', 6: 'Brinjle', 7: 'Apple'}
{'1': 'Mango', '2': 'Banana', '5': 'Apple', '6': 'Brinjle', '7': 'Apple'}

In [260]:
dict4 = dict3+dict1 #cannot be added

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [5]:
#Adding two Dictionary
dict1 = {1: 'Mango', 2: 'Banana', 5: 'Apple', 6: 'Kiwi'}
dict2 = {1: 'Mango', 2: 'Banana', 5: 'Apple', 6: 'Brinjle', 7: 'Apple'}
dict3 = {'1': 'Mango', '2': 'Banana', '5': 'Apple', '6': 'Brinjle', '7': 'Apple'}
dict2.update(dict1)
dict3.update(dict2)
print(dict3)

{'1': 'Mango', '2': 'Banana', '5': 'Apple', '6': 'Brinjle', '7': 'Apple', 1: 'Mango', 2: 'Banana', 5: 'Apple', 6: 'Kiwi', 7: 'Apple'}

In [ ]:
# Update dictionary
dict1 = {"Hello": 56, "at": 23, "test": 43, "this": 78}
dict1.update({'here': 40, 'at': 41, 'test': 89})
dict1

In [273]:
# Adding Element different types
dict3[5] = "Hello" # int key , value string
dict3["3"] = 7 # string key, value int
print(dict3)
print("Key value 5",dict3[5])
print("Key value '5'",dict3["5"])

{'1': 'Mango', '2': 'Banana', '5': 'Apple', '6': 'Brinjle', '7': 'Apple', 3: 'Hello', 5: 'Hello', '3': 7}
Key value 5 Hello
Key value '5' Apple

In [274]:
dict3 # multiple data type keys

{'1': 'Mango',
 '2': 'Banana',
 '5': 'Apple',
 '6': 'Brinjle',
 '7': 'Apple',
 3: 'Hello',
 5: 'Hello',
 '3': 7}

In [284]:
# Deleting Items 3 Types
dict3 = {'1': 'Mango', '2': 'Banana', '5': 'Apple', '6': 'Brinjle', '7': 'Apple', 3: 'Hello', 5: 'Hello', '3': 7}
print(dict3)
dict3.pop("2") # Deletes the item with key "2"
print(dict3)
dict3.popitem() # Deletes last item
print(dict3)
del dict3[5] # Deletes item with specified key
print(dict3)

{'1': 'Mango', '2': 'Banana', '5': 'Apple', '6': 'Brinjle', '7': 'Apple', 3: 'Hello', 5: 'Hello', '3': 7}
{'1': 'Mango', '5': 'Apple', '6': 'Brinjle', '7': 'Apple', 3: 'Hello', 5: 'Hello', '3': 7}
{'1': 'Mango', '5': 'Apple', '6': 'Brinjle', '7': 'Apple', 3: 'Hello', 5: 'Hello'}
{'1': 'Mango', '5': 'Apple', '6': 'Brinjle', '7': 'Apple', 3: 'Hello'}