# Loops

In [12]:
i = int(input("Enter the starting point : ")) # For fixed number and condition is to be followed
while i<=50:
    print(i)
    i=i+1
print("End")

Enter the starting point : 45
45
46
47
48
49
50
End

In [42]:
for i in range(5): # For loop runs on range and data types, not on conditions. Range goes from (0 to n-1)
    print(i)

0
1
2
3
4

In [43]:
for i in range(1,5):
    print(i)

1
2
3
4

In [46]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [53]:
name = "Manish"
for i in name:
    print(i)
    print(type(i))

M
<class 'str'>
a
<class 'str'>
n
<class 'str'>
i
<class 'str'>
s
<class 'str'>
h
<class 'str'>

In [55]:
name = "Manish"
name1 = name[-1::-1]
name1

'hsinaM'

In [57]:
list1 = ["Mango","Banana","Apple","Kiwi","Orange"]
for i in list1:
    print(i)

Mango
Banana
Apple
Kiwi
Orange